// Hero Slides 
.owl-carousel-one.owl-carousel
    // Single Hero Slide 
    .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/32.jpg')")
        .slide-content.h-100.d-flex.align-items-center.text-center
            .container
                h3.text-white.mb-1(data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms") PWA Ready
                p.text-white.mb-4(data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms") Click the "Add to Home Screen" button &amp; <br> enjoy it like an app.
                a.btn.btn-creative.btn-warning(href="#", data-animation="fadeInUp", data-delay="800ms", data-wow-duration="500ms") Buy Now

    // Single Hero Slide 
    .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/31.jpg')")
        .slide-content.h-100.d-flex.align-items-center.text-center
            .container
                h3.text-white.mb-1(data-animation="fadeInUp" data-delay="100ms" data-wow-duration="500ms") Build with Bootstrap 5
                p.text-white.mb-4(data-animation="fadeInUp" data-delay="400ms" data-wow-duration="500ms") Build fast, responsive sites with Bootstrap.
                a.btn.btn-creative.btn-warning(href="#", data-animation="fadeInUp", data-delay="800ms", data-wow-duration="500ms") Buy Now

    // Single Hero Slide 
    .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/33.jpg')")
        .slide-content.h-100.d-flex.align-items-center.text-center
            .container
                h3.text-white.mb-1(data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms") Lots of Elements &amp; Pages
                p.text-white.mb-4(data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms") Create your website in days, not months.
                a.btn.btn-creative.btn-warning(href="#", data-animation="fadeInUp", data-delay="800ms", data-wow-duration="500ms") Buy Now

    // Single Hero Slide 
    .single-hero-slide.bg-overlay(style="background-image: url('img/bg-img/1.jpg')")
        .slide-content.h-100.d-flex.align-items-center.text-center
            .container
                h3.text-white.mb-1(data-animation="fadeInUp" data-delay="100ms" data-wow-duration="1000ms") Dark &amp; RTL Ready
                p.text-white.mb-4(data-animation="fadeInUp" data-delay="400ms" data-wow-duration="1000ms") You can use the Dark or <br> RTL mode of your choice.
                a.btn.btn-creative.btn-warning(href="#", data-animation="fadeInUp", data-delay="800ms", data-wow-duration="500ms") Buy Now