// Hero Slides 
.container
    .owl-carousel-two-wrapper
        .owl-carousel-two.owl-carousel        
            // Single Hero Slide 
            .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/31.jpg')")
                .slide-content.h-100
                    h3.text-white Bootstrap 5
                    p.text-white Build fast, responsive sites with Bootstrap
                    a.btn.btn-creative.btn-warning(href="#") Buy Now

            // Single Hero Slide 
            .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/32.jpg')")
                .slide-content.h-100
                    h3.text-white PWA Ready
                    p.text-white Now only $22
                    a.btn.btn-creative.btn-warning(href="#") Buy Now                        

            // Single Hero Slide 
            .single-hero-slide.bg-img.bg-overlay(style="background-image: url('img/bg-img/33.jpg')")
                .slide-content.h-100
                    h3.text-white Unique Design
                    p.text-white 3 years warranty
                    a.btn.btn-creative.btn-warning(href="#") Buy Now
        
        // Do not remove this ID, this ID counts how many slides there are. 
        #totalowlDotsCount